@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  @apply font-yekanMedium;
}

.rtl {
  direction: rtl;
}

body {
  @apply font-yekanMedium;
}

.iinput {
  @apply bg-gray-100 focus:bg-gray-200;
}
.iscroll {
  scrollbar-color: #cbd5e0;
  scrollbar-width: thin;
  overflow-x: auto;
  overflow-y: auto;
  
}
.iscroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.iscroll::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  cursor: pointer;
}

.iscroll-hide {
  scrollbar-color: #cbd5e0;
  scrollbar-width: none;
}
.iscroll-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  cursor: pointer;
}

.iscroll-hide::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  cursor: pointer;
}

.ant-btn-primary {
  @apply bg-primary-200;
}

.idropdown-wrapper {
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  padding: 8px !important;
  @apply bg-white rounded-md;
  .ant-dropdown-menu {
    box-shadow: none !important;
    background: transparent !important;
    padding: 0 !important;
  }
}

.ant-dropdown-menu-item:hover .ant-dropdown-menu-title-content {
  @apply text-primary-200;
}

.iinput {
  @apply placeholder:text-theme-placeholder placeholder:text-sm rounded-md focus:shadow-none;
}

.ant-form-item-label {
  text-align: right !important;
  padding: 0 !important;
  label {
    height: auto !important;
    margin-bottom: 8px !important;
  }
}

.accordion-panel-header {
  @apply my-2;
  .ant-collapse-header {
    @apply border border-gray-200;
    border-radius: 6px !important;
  }
}

.ant-input-clear-icon {
  @apply flex;
}

.side-tabs {
  .ant-tabs-content-holder {
    @apply overflow-y-auto iscroll pl-4 pr-2 py-4;
  }
}
