@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  @apply font-yekanMedium;
}

.rtl {
  direction: rtl;
}

body {
  @apply font-yekanMedium;
}

.iinput {
  @apply bg-gray-100 focus:bg-gray-200;
}
.iscroll::-webkit-scrollbar {
  width: 4px;
}

.iscroll::-webkit-scrollbar-thumb {
  background: #cbd5e0;
}
.ant-table-body::-webkit-scrollbar {
  width: 4px;
}

.ant-table-body::-webkit-scrollbar-thumb {
  background: #cbd5e0;
}
